PORT=3000
DB_USER=root
DB_PASS=root
DB_PORT=3306
DB_HOST=localhost
DB_DIALECT=mysql
DB_NAME=safiridb
PRIVATE_KEY=
ETH_PROVIDER_URL=
CONTRACT_ADDRESS=0xAEEd7992b48A5c9244790721ba1eA763d9a8bCBc

# Funders Details
ADMIN_PRIVATE_KEY=
ADMIN_ACCOUNT_ADDRESS=

# RPC provider
STARKNET_PROVIDER_URL=https://free-rpc.nethermind.io/sepolia-juno/v0_7

# Africastalking API Key
AFRICA_STALKING_API_KEY=

# Wallet private key for deployment
WALLET_PRIVATE_KEY=